input[type="search"] {
    border-radius: 32px;
    border: none;
    background-color: #EBEBEB;
    color: #71A3C1;
    padding: 12px 24px;
    width: 100%;
    font-size: 24px;
    margin: 32px 0;
}


::placeholder {
    color: #71A3C1;
}

:-ms-input-placeholder {
    color: #71A3C1;;
}

::-ms-input-placeholder {
    color: #71A3C1;;
}

@media (max-width: 720px) {
    input[type="search"] {
        width: 80%;
    }
}